<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mars Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
   <div class="container">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        <div class="row" id="mars_information">
            <div class="col-md-12">
                <h2 class="heading">Latest Mars News</h2>
            </div>
        </div>
        <div class="row" id="mars_information">
            <div class="col-md-12">
                <h4>{{mars_data.news_title}}</h4>
            </div>
        </div>
        <div class="row" id="mars_information">
            <div class="col-md-12">
                <p>{{mars_data.news_paragraph}}</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <h2>Featured Mars Image</h2>
                    </div>
                    <div class="row">
                        <img class="img-responsive" width ="90%" src="{{mars_data.featured_img_url}}" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="box">
                            <h3>Current Weather On Mars</h3>
                            <p class = "ridge">{{mars_data.mars_weather_info}}</p>
                        </div>
                    </div>
                    <div class="row">
                        {{mars_data.mars_facts_html | safe}}
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h3>Mars Hemispheres</h3>
            </div>
            <hr>
           
            <div class="row">
                <div class="container">
                    {% for hemishpere_data in mars_data.mars_hemisphere_info %}
                    <div class="col-md-6 p-3">
                        <div class="card-deck">
                        <div class="card" style="width:400px">
                            <img class="card-img-top" src="{{hemishpere_data.img_url}}" alt="Mars Hemispere image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">{{hemishpere_data.img_title}}</h4>
                            </div>
                        </div>
                        </div>
                    </div> 
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>